profiles {
  awsbatch {
    process.executor = 'awsbatch'
    process.queue = 'YOUR_AWS_BATCH_QUEUE'
    workDir = 's3://YOUR_BUCKET/nextflow-work/hello'
    aws.region = 'us-west-2'

    docker.enabled = true
    process.container = 'public.ecr.aws/docker/library/bash:5.2'

    process {
      cpus = 1
      memory = '1 GB'
      time = '10m'
      errorStrategy = 'retry'
      maxRetries = 1
    }
  }
}
