manifest {
  name = 'custom-ont-longread-demo'
  description = 'Teaching pipeline for Oxford Nanopore long-read FASTQ QC, alignment, BAM QC, and isoform-collapse handoff'
  nextflowVersion = '>=24.10.0'
}

params {
  input = 'samplesheet_ont.csv'
  outdir = 'results/ont_custom'
  reference = null
  annotation = null
  minimap2_preset = 'splice'
  strand_mode = 'unknown'
  save_intermediate_bam = false
  sqanti3_container = null
  sqanti3_extra_args = ''
}

process {
  cpus = 2
  memory = '8 GB'
  time = '4h'
  errorStrategy = { task.exitStatus in [130, 137, 139, 143] ? 'retry' : 'terminate' }
  maxRetries = 1

  withLabel: process_low {
    cpus = 2
    memory = '8 GB'
    time = '2h'
  }

  withLabel: process_medium {
    cpus = 4
    memory = '16 GB'
    time = '6h'
  }

  withLabel: process_high {
    cpus = 8
    memory = '32 GB'
    time = '12h'
  }
}

profiles {
  local {
    process.executor = 'local'
  }

  docker {
    docker.enabled = true
    process.executor = 'local'
  }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    process.executor = 'local'
  }

  awsbatch {
    process.executor = 'awsbatch'
    process.queue = 'YOUR_AWS_BATCH_QUEUE'
    workDir = 's3://YOUR_BUCKET/nextflow-work/custom-ont'
    aws.region = 'us-west-2'
  }
}

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
  enabled = true
  file = "${params.outdir}/pipeline_info/report.html"
}

trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/dag.html"
}
